@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --dark-color: #272a31;
  --orange-color: #ec5242;
  --white-smoke: #d3d3d3;
  --white-color: #ffff;
  --dark-whiten: #f5f5f5;
  --transparent-white: linear-gradient(0deg, #f4f4f4e3 60%, #f4f4f4af 70%);
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--dark-whiten);
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.page-header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: transparent;
}

.open-menu,
.close-menu {
  background-color: transparent;
  border: none;
  font-size: 3em;
}

.open-menu {
  color: var(--dark-color);
  padding-top: 8px;
  padding-left: 35px;
  padding-bottom: 8px;
}

.close-menu {
  color: var(--white-smoke);
  align-self: end;
  padding-right: 30px;
  padding-top: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--dark-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: -100%;
}

.mobile-nav ul li {
  padding: 25px 30px;
}

.bordered-link a {
  border: 3px solid;
  border-color: var(--orange-color);
  padding: 5px 9px;
  color: var(--orange-color) !important;
}

.mobile-nav ul li a {
  color: var(--white-smoke);
  font-size: 2em;
}

.mobile-nav ul li a:hover {
  color: var(--orange-color);
}

.animate-left {
  animation: slide-left 1s ease forwards;
  left: -100%;
}

.animate-right {
  animation: slide-right 1s ease forwards;
  left: 0;
}

@keyframes slide-right {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.desktop-navigation-block {
  display: none;
}

.main-section {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.layer-color {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15vh;
  padding-bottom: 2vh;
  background: var(--transparent-white);
}

.main-section-container {
  width: 80%;
  margin: auto;
  position: relative;
}

.title-intro {
  color: var(--orange-color);
  font-size: 2.5em;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.title-info {
  background-image: url(../images/did-min-2.jpg);
  background-size: contain;
  background-position: center;
  font-size: 5em;
  text-align: left;
  width: 100%;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-explanatory {
  border: 3px solid;
  border-color: var(--white-color);
  padding: 10px 20px;
  color: var(--dark-color);
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}

.date-main {
  font-size: 2em;
  color: var(--dark-color);
}

.main-cpy-right {
  font-size: 1.5em;
}

.white-bg {
  background-color: var(--white-color);
}
